name : screenshot

on:
  push:
    branches : master

jobs : 
  screenshot : 
    runs-on : ubuntu-latest
    steps:
      - name : fetch files
        uses : actions/checkout@v4
      - name : setup node
        uses : actions/setup-node@v4
      - name : cache
        uses : actions/cache@v4
        with : 
          path : node_modules
          key : 1npm-${{ hashFiles('package.lock.json') }}
      - name : install packages
        run : npm install
      - name : screen shot
        run : npm run screenshot
      - name : upload screenshot 
        uses : actions/upload-pages-artifact@v3
        with :
          name : screenshot
          path : ./screenshot
  commit : 
    needs : screenshot
    runs-on: ubuntu-latest
    steps:
      - run : git config --global user.name parham-snk;git config --global user.email psanjanaki@gmail.com ; git checkout main ;  git add ./screenshot/screenshot.jpg ; git commit -m "new" ; git push https://github.com/parham-snk main 
