name: Update Screenshot

on:
  push:
    branches:
      - main

jobs:
  screenshot:
    runs-on: ubuntu-latest
    steps:
      # مرحله ۱: checkout ریپازیتوری
      - name: Checkout repository
        uses: actions/checkout@v3

      # مرحله ۲: نصب Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      # مرحله ۳: نصب وابستگی‌ها
      - name: Install dependencies
        run: npm ci

      # مرحله ۴: اجرای اسکریپت اسکرین‌شات
      - name: Run screenshot script
        run: node ./utilities/screenshot.js

      # مرحله ۵: commit و push
      - name: Commit screenshot
        run: |
          git config user.name "parham-snk"
          git config user.email "psanjanaki@gmail.com"
          git add ./screenshot/screenshot.jpg
          git checkout min 
          git commit -m "Update screenshot" || echo "No changes to commit"
          git push
