name: Update Screenshot

on:
  push:
    branches:
      - master

jobs:
  screenshot:
    runs-on: ubuntu-latest
    steps:
      # مرحله ۱: checkout ریپازیتوری
      - name: Checkout repository
        uses: actions/checkout@v3
        with : 
          ref : master 
          fetch-depth : 0

      # مرحله ۲: نصب Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      # مرحله ۳: نصب وابستگی‌ها
      - name: Install dependencies
        run: npm ci

      # مرحله ۴: اجرای اسکریپت اسکرین‌شات
      - name: Run screenshot script
        run: node ./utilities/screenshot.js

      # مرحله ۵: commit و push
      - name: Commit screenshot
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "parham-snk"
          git config --global user.email "psanjanaki@gmail.com"
          git checkout main || git checkout -b main
          git reset --hard master
          git add screenshot/screenshot.jpg 
          git commit -m "Update screenshot [skip ci]"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/parham-snk/screen-shot.git HEAD:main
        
