name: Update Screenshot

on:
  push:
    branches:
      - master
permissions:
  contents: write
  
jobs:
  screenshot:
    runs-on: ubuntu-latest
    steps:
      # مرحله ۱: checkout ریپازیتوری
      - name: Checkout repository
        uses: actions/checkout@v3
        with : 
          ref : master 
          fetch-depth : 0

      # مرحله ۲: نصب Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      # مرحله ۳: نصب وابستگی‌ها
      - name: Install dependencies
        run: npm ci

      # مرحله ۴: اجرای اسکریپت اسکرین‌شات
      - name: Run screenshot script
        run: node ./utilities/screenshot.js

      # مرحله ۵: commit و push
      - name: Commit screenshot
        run: | 
          git config --global user.name "parham-snk"
          git config --global user.email "psanjanaki@gmail.com"
          git add .
          git commit -m s
      - name : push to github
        uses: ad-m/github-push-action@v0.6.0
        with:
          branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
        
